.submitBtn {
  padding: 10px 20px;
  background-color: #e0ffff;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 gray;
}

.responseResult {
  padding-left: 0;
}

.posted {
  list-style: none;
}

.frame {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: #99ff99;
  display: block;
}

.editFrame {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: #99ff99;
  display: none;
}

.function_btns {
  text-align: right;
}

.editBtn {
  padding: 5px 10px;
  background-color: #ffbf7f;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 gray;
  margin-right: 10px;
}

.deleteBtn {
  padding: 5px 10px;
  background-color: #ff7f7f;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 gray;
  margin-right: 10px;
}

.error {
  color: red;
}

.updateBtn {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 gray;
  margin-right: 10px;
  background-color: #7fbfff;
}

.cancelBtn {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 gray;
  margin-right: 10px;
  background-color: #7fbfff;
}

.modal_div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}

.modal_div:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.2em;
}

.modal_div.is-active {
  opacity: 1;
  visibility: visible;
}

.modal-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 600px;
  width: 90%;
}

.closeModalBtn01 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -20px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.closeModalBtn02 {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 gray;
  margin-right: 10px;
  background-color: #7fbfff;
  width: 50px;
}

.modal-content {
  background: #fff;
  text-align: left;
  line-height: 1.8;
  padding: 20px;
  width: 600px;

}

.modal-content p {
  margin: 1em 0;
}

.modal_div_delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}

.modal_div_delete:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin-left: -0.2em;
}

.modal_div_delete.is-active {
  opacity: 1;
  visibility: visible;
}

.modal-container_delete {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 600px;
  width: 90%;
}

.closeModalBtn03 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -20px;
  width: 40px;
  height: 40px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
}

.closeModalBtn04 {
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 gray;
  margin-right: 10px;
  background-color: #7fbfff;
  width: 50px;
}

.modal-content_delete {
  background: #fff;
  text-align: left;
  line-height: 1.8;
  padding: 20px;
  width: 600px;

}

.modal-content_delete p {
  margin: 1em 0;
}