.submitBtn {
  padding: 10px 20px;
  background-color: #e0ffff;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 gray;
}

.frame {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: #99ff99;
}

.function_btns {
  text-align: right;
}

.edit_btn {
  padding: 5px 10px;
  background-color: #ffbf7f;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 gray;
  margin-right: 10px;
}

.delete_btn {
  padding: 5px 10px;
  background-color: #ff7f7f;
  border-radius: 5px;
  box-shadow: 2px 2px 0 0 gray;
  margin-right: 10px;
}

.error {
  color: red;
}